* {
    margin: 0;
    padding: 0;
}

body {
	background-color: #040D21;
}

#mine {
	width: 400px;
	border: 1px solid black;
	margin: 0 auto;
	background-color: #0C162D;
	box-shadow: 0px 0px 15px #1d1111;
}

#mine:hover {
	border-radius: 8px;
	width: 400px;
	border: 1px solid rgb(238, 13, 13);
	background-color: #0C162D;
	box-shadow: 0px 0px 15px #fffbfb;
}

h1 {
	text-align: center;
	color: white;
	margin-bottom: 21px;
	text-shadow: 1px 1px 2px red;
}

label {
	color: white;
	font-size: 21px;
}

#mine {
	width: 400px;
	border: 1px solid black;
	margin: 20px auto;
	background-color: #0C162D;
	box-shadow: 0px 0px 10px #fffbfb;
	padding: 30px;
}

.fname {
	width: 248px;
	padding: 10px;
	margin-bottom: 12px;
	border: 1px solid red;
	font-size: 17px;
	border-radius: 6px;
}

#lname {
	margin-left: 2px;
}

#ename {
	margin-left: 44px;
}

#pname {
	margin-left: 13px;
}

#sname {
	padding: 10px;
	color: black;
	font-weight: bold;
	margin-left: -8px;
	background-color: white;
	border: 1px solid red;
	margin-top: 2px;
	width: 120px;
}
	
#label1 {

}

#su {
	width: 80px;
	text-align: center;
	height: 41px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 15px;
	color: #b44;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#su:hover {
	background-color:#e74c3c ;
	color: black;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.sr {
	text-align: center;
	margin-top: 9px;
	margin-left: 31px;
	margin-bottom: 30px;
}

#fp {
	float: right;
	margin: -6px -21px 0px 0px;
	text-decoration: none;
	font-size: 16px;
}

#fp:hover {
	color:rgb(255, 0, 43);
}

img {
	width: 86px;
	text-align: center;
	margin: auto;
	display: block;
	margin-bottom: 20px;
	margin-top: -31px;
	box-shadow: 2px 2px 11px #d70c0ca8;
	border-radius: 15px;
}

img:hover {
	border: 1px solid red;
	box-shadow: 3px 3px 15px #d70c0ca8;
	border-radius: 15px;
	cursor: pointer;
}